<header id="hero-overlay" class="hero-overlay">
    <div class="centered-container w-container text-center">
        <h1 class="feature-heading">The web is beautiful</h1>
        <p>Yes, you heard that.</p>
        <div>
            <a href="#" class="w-button">Contact Me</a>
        </div>
    </div>
</header>
<section id="hero-layout" class="section hero fadero initial-fade" data-position="left">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="heading">I&#x27;m a Freelancer!</h1>
                <p>I build great websites while juggling everything else!</p>
                <a href="#" class="primary-button w-button">Get Started</a>
            </div>
            <div class="col-sm-6">
                <img src="https://uploads-ssl.webflow.com/5fa412d1e3b4dfb3089b28e8/5fa412d2820325c9d9c09f82_hero.png" loading="lazy" sizes="(max-width: 767px) 92vw, (max-width: 991px) 354px, 460px" srcset="https://uploads-ssl.webflow.com/5fa412d1e3b4dfb3089b28e8/5fa412d2820325c9d9c09f82_hero-p-800.png 800w, https://uploads-ssl.webflow.com/5fa412d1e3b4dfb3089b28e8/5fa412d2820325c9d9c09f82_hero.png 899w" alt=""/>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="mobile-inverted fadero initial-fade row" data-position="up">
            <img class="d-md-none d-lg-block col-sm-6" src="https://uploads-ssl.webflow.com/5fa412d1e3b4dfb3089b28e8/5fa412d28203250a45c09f80_illustration-1.png" id="w-node-5136f8d82cf2-93c09f60" sizes="(max-width: 479px) 86vw, (max-width: 767px) 89vw, (max-width: 991px) 334px, 440px" srcset="https://uploads-ssl.webflow.com/5fa412d1e3b4dfb3089b28e8/5fa412d28203250a45c09f80_illustration-1-p-500.png 500w, https://uploads-ssl.webflow.com/5fa412d1e3b4dfb3089b28e8/5fa412d28203250a45c09f80_illustration-1.png 577w" alt=""/>
            <div id="w-node-8d7c0722ac48-93c09f60" class="featured-text col-sm-6">
                <h2 class="feature-heading">Don&#x27;t let communication be the barrier</h2>
                <div class="card-description">
                    Get a stunning website built by just requesting and filling out the necessary details<br/>
                    <br/>
                    Awesome right? Well, 
                    <strong>
                        <em>WHAT ARE YOU WAITING FOR?</em>
                    </strong>
                </div>
                <a href="#" class="feature-link">Start now</a>
            </div>
        </div>
        <div class="fadero initial-fade row" data-position="up">
            <div id="w-node-730e65a24d19-93c09f60" class="featured-text col-sm-6">
                <div class="pill">imagination...</div>
                <h2 class="feature-heading">Unlock the power of imagination.</h2>
                <div class="card-description">
                    Got that crazy idea you need to implement in a website.<br/>
                    <br/>
                    Don &#x27;t worry, I&#x27;m here for you!<br/>
                </div>
                <a href="#" class="feature-link">contact me</a>
            </div>
            <img class="d-md-none d-lg-block col-sm-6" src="https://uploads-ssl.webflow.com/5fa412d1e3b4dfb3089b28e8/5fa412d28203256742c09f81_illustration-2.png" id="w-node-f574bd590fc5-93c09f60" sizes="(max-width: 479px) 86vw, (max-width: 767px) 89vw, (max-width: 991px) 334px, 440px" srcset="https://uploads-ssl.webflow.com/5fa412d1e3b4dfb3089b28e8/5fa412d28203256742c09f81_illustration-2-p-500.png 500w, https://uploads-ssl.webflow.com/5fa412d1e3b4dfb3089b28e8/5fa412d28203256742c09f81_illustration-2.png 594w" alt=""/>
        </div>
        <div class="row mobile-inverted last fadero initial-fade" data-position="up">
            <img class="d-md-none d-lg-block col-sm-6" src="https://uploads-ssl.webflow.com/5fa412d1e3b4dfb3089b28e8/5fa412d2820325fa66c09f83_illustration-3.png" id="w-node-413ea66a55e9-93c09f60" sizes="(max-width: 479px) 86vw, (max-width: 767px) 89vw, (max-width: 991px) 334px, 440px" srcset="https://uploads-ssl.webflow.com/5fa412d1e3b4dfb3089b28e8/5fa412d2820325fa66c09f83_illustration-3-p-500.png 500w, https://uploads-ssl.webflow.com/5fa412d1e3b4dfb3089b28e8/5fa412d2820325fa66c09f83_illustration-3.png 684w" alt=""/>
            <div id="w-node-413ea66a55e3-93c09f60" class="featured-text col-sm-6">
                <h2 class="feature-heading">Reach the top with your websites, literally.</h2>
                <div class="card-description">Always remember that all great websites start from somewhere.</div>
                <a href="#" class="feature-link">ready?</a>
            </div>
        </div>
    </div>
</section>
<section class="cta bg-dark-blue text-white">
    <div class="container-flex call-to-action w-container">
        <div class="call-to-action-wrapper">
            <h2>Are you ready to start?</h2>
            <div>Get ready to be mind blown!</div>
        </div>
        <a href="#" class="primary-button w-button">contact me</a>
    </div>
</section>